<div class = "header_total">

    <div  class = "header_logo">
        <h1>TITAN</h1>
    </div>

</div>

<div class="header_menu">
    <span type="button" class="btn btn-outline-secondary"> 봄 </span>
    <span type="button" class="btn btn-outline-secondary">  여름 </span>
   {% if not user.is_authenticated %}
    <span type="button" class="btn btn-outline-secondary">
        <a href="{% url 'TITANAPP:login' %}">
            Login
        </a>
    </span>
    <span type="button" class="btn btn-outline-secondary">
        <a href="{% url 'TITANAPP:create' %}">
            Sing up
        </a>
    </span>
    {% else %}
    <span type="button" class="btn btn-outline-secondary">
        <a href="{% url 'TITANAPP:logout' %}">
            Logout
        </a>
    </span>
    <span type="button" class="btn btn-outline-secondary">
        <a href="{% url 'TITANAPP:detail' pk=user.pk %}">
            Mypage
        </a>
    </span>
    {% endif %}
</div>